In [11]:
import numpy as np 
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [16]:
class LinearRegression():
    def __init__(self):
        self.coefficient = None
        self.intercept = None

    def fit(self, X, y):
        X = np.asarray(X, dtype=float)   
        y = np.asarray(y, dtype=float)  


        ones = np.ones((X.shape[0], 1), dtype=float)
        X_b  = np.hstack([ones, X])     


        theta = np.linalg.pinv(X_b.T @ X_b) @ (X_b.T @ y)

        self.intercept   = theta[0]
        self.coefficient = theta[1:]             

    def predict(self, x):
        x_times_coefficient = x * self.coefficient
        return x_times_coefficient + self.intercept

    def _coefficient_estimate(self, x, y):
        numerator, denominator = 0, 0

        for i in range(len(x)):
            x_val = x[i]
            y_val = y[i]
            x_avg = np.average(x)
            y_avg = np.average(y)

            numerator += (x_val - x_avg) * (y_val - y_avg)
            denominator += (x_val - x_avg) ** 2
        return numerator / denominator 
    def _intercept_estimate(self, x, y):
        x_avg = np.average(x)
        y_avg = np.average(y)

        return y_avg - (self.coefficient * x_avg)

In [21]:
df = pd.read_csv("Titanic Dataset.csv")
df2 = df.drop(columns=['Name','Ticket','Cabin'])
df2 = df2.dropna(subset=['Age','Fare','Sex','Embarked'])
df2 = pd.get_dummies(df2, columns=['Sex','Embarked'], drop_first=True)

X = df2.drop('Survived', axis=1)
y = df2['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

lm = LinearRegression()
lm.fit(X_train, y_train)
lm.predict(X_test)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
641,1.421422,1.186009,1.257630,1.392064,1.392064,1.380108,1.392064,1.392064,1.392064
496,1.414791,1.186009,1.089588,1.343713,1.392064,1.378561,1.392064,1.392064,1.392064
262,1.404091,1.186009,1.100791,1.343713,1.388531,1.378322,0.890924,1.392064,1.344160
311,1.406331,1.186009,1.291239,1.295362,1.384999,1.346798,1.392064,1.392064,1.392064
551,1.417306,0.979954,1.240826,1.392064,1.392064,1.387578,0.890924,1.392064,1.344160
...,...,...,...,...,...,...,...,...,...
362,1.408663,0.773900,1.140001,1.392064,1.388531,1.389570,1.392064,1.392064,1.392064
56,1.394670,0.979954,1.274435,1.392064,1.392064,1.390252,1.392064,1.392064,1.344160
137,1.398374,1.186009,1.184812,1.343713,1.392064,1.382903,0.890924,1.392064,1.344160
651,1.421879,0.979954,1.291239,1.392064,1.388531,1.388096,1.392064,1.392064,1.344160
74,1.395494,0.773900,1.212819,1.392064,1.392064,1.382317,0.890924,1.392064,1.344160